body {
	background-color: LightSeaGreen;
	font-family: "Times New Roman", Verdana, sans-serif;
}
h1 {
	text-align: center;
	text-decoration: underline;
	font-size: 8em;
	font-weight: bold;
}
th {
	border-style: solid;
	border-color: black;
	font-size: 3em;
}
th.empty {
	empty-cells: show;
}
table {
	border-style: solid;
	border-color: blue;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	border-collapse: collapse;
}
td {
	border-style: solid;
	border-color: black;
	font-size: 3em;
}
