body {
	background-color: PapayaWhip;
	font-family: Sofia, Verdana, sans-serif;
	width: 960px;
	margin: 0 auto;
}
.nav {
	border: 10px;
	border-width: 10px 0;
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: center;
	color: green;
	font-family: "Times New Roman", Times, serif;
	font-size: 15px;
}
.nav li {
	display:inline;
}
.nav a {
	display:inline-block;
	padding:10px;
}
p {
	padding: 5px;
	font-size: 20px;
}
p.center {
	text-align: center;
}
h1 {
	color: red;
	font-weight: bold;
	font-size: 20px;
	text-align: center;
	text-decoration: underline;
	padding: 10px;
}
h2, h3, h4 {
	color: brown;
	font-family: "Times New Roman", Times, serif;
	font-size: 20px;
	padding: 10px;
	text-align: center;
}
img {
	display: block;
	margin: 0 auto;
	padding: 10px;
}
li {
	font-size: 15px;
	margin-left: 2px;
	list-style-type: disc;
}